body{
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
}
header>h1{
    margin: 0%;
    padding: 1em;
    text-shadow: -5px 3px 4px silver;
    font-family: 'Varela Round', sans-serif;
    font-size: 4em;

}
header{
    background-color: #00cba9;
    margin: 0px;
    display: flex;
    justify-content: center;

}
#formwrapper{
    display: flex;
    justify-content: center;
}
#formwrapper>div{
    border: 1px solid gray;
    padding: 2em;
    margin-bottom: 2em;
    box-shadow: -21px 27px 33px -4px;
    border-radius: 33px 40px 0px 50px;
}
    
form{
    display: flex;
    flex-direction: column;
}

imput{
    margin-bottom: 2em;
}
button{
    background-color: #00cba9;
    border-radius: 5px;
}